<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                        <i class="fab fa-phoenix-framework"></i>
                    </span>
                    <span class="title">Admin LaptopStore</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Home")">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="title">Trang chủ quản lý</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Product","Home")">
                    <span class="icon"><i class="fas fa-laptop"></i></span>
                    <span class="title">Quản lý sản phẩm</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                    <span class="title">Quản lý đơn hàng</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-users"></i></span>
                    <span class="title">Quản lý người dùng</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-comments"></i></span>
                    <span class="title">Quản lý phản hồi</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="title">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </div>
</div>
