<div class="topbar">
    <div class="toggle"><i class="fas fa-bars"></i></div>
    <div class="search">
        <label>
            <input type="text" placeholder="Nhập vào thông tin tìm kiếm" />
            <i class="fas fa-search"></i>
        </label>
    </div>
    <div class="user">
        <img src="~/Image/user.jpg" alt="">
    </div>
</div>
