
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<section id="page-header" class="about-header">
    <h2>Tận hưởng trải nghiệm tuyệt vời</h2>
    <p>Mua ngay để nhận được những ưu đãi cực khủng.</p>
</section>

<section id="about-head" class="section-p1">
    <img src="img/about/1.webp">
    <div>
        <h2>Giới Thiệu</h2>
        <p>Laptop Store được thành lập bởi các những bạn trẻ có niềm đam mê bất tận với laptop, chính niềm đam mê đó đã giúp những anh em hội tụ, gắn kết, khao khát mang nhiều mẫu laptop mới về để trải nghiệm thỏa đam mê chứ không phải mục đích kinh doanh. Một trong những điều quan trọng nhất mà 3K Shop mong muốn nhất chính là mang đến những sản phẩm có chất lượng tốt; tốt ở đây chính là về cả chất lượng, độ bền cũng như chế độ bảo hành cho khách hàng.</p>
        <p>Chính vì vậy, Laptop Store luôn cố gắng làm việc để có những sản phẩm chính hãng tốt nhất, cùng với giá thành tốt nhất. Các sản phẩm có chất lượng không tốt chắc chắn sẽ không bao giờ hiện hữu tại HeadPhone Store.</p>
    </div>
</section>

<section id="feature" class="section-p1">
    <div class="truck">
        <i class="fas fa-truck"></i>
        <h6><b>Giao hàng toàn quốc</b></h6>
    </div>
    <div class="truck">
        <i class="fas fa-money-bill"></i>
        <h6><b>Miễn phí vận chuyển</b></h6>
    </div>
    <div class="truck">
        <i class="fas fa-copyright"></i>
        <h6><b>Chính hảng</b></h6>
    </div>
    <div class="truck">
        <i class="fas fa-repeat"></i>
        <h6><b>Đổi trả miễn phí</b></h6>
    </div>
    <div class="truck">
        <i class="fas fa-pig"></i>
        <h6><b>Tiết kiệm tiền</b></h6>
    </div>
    <div class="truck">
        <i class="fas fa-user-headset"></i><br>
        <h6><b>Hỗ trợ 24/7</b></h6>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newtext">
        <h4>Sign Up For Newsletters</h4>
        <p>Đăng ký để được thông báo về những sản phẩm mới nhất và <span>những khuyến mãi đặc biệt.</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Đăng ký</button>
    </div>
</section>